<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.json</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>setCharacterEncoding</filter-name>
		<filter-class>com.chenjun.struts.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>fundReportService</filter-name>
		<filter-class>com.chenjun.struts.filter.FundReportServiceFilter</filter-class>
		<init-param>
			<description>Report文件的相对路径</description>
			<param-name>relativeFundReportPath</param-name>
			<param-value>Report.xml</param-value>
		</init-param>
		
		<init-param>
			<description>Report文件的绝对路径</description>
			<param-name>absoluteFundReportPath</param-name>
			<param-value>Report.xml</param-value>
		</init-param>
		
		<init-param>
			<description>检测Report是否更新频率，以分钟为单位</description>
			<param-name>refleshTime</param-name>
			<param-value>30</param-value>
		</init-param>
	
	</filter>

	<filter-mapping>
		<filter-name>setCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>

